<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <p class="m-0 text-dark text-center ">
        <a href="{% url 'author' %}">Об авторе</a> - <a href="{% url 'spec' %}">Технологии</a>
    </p>
    <p class="m-0 text-dark text-center ">
        Социальная сеть <span style="color:red">Ya</span>tube © {{ year }}, все права защищены.
    </p>
</footer>